@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 100%;
    text-align: left;
    border-bottom: 0.17rem solid #F53474;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 2rem;

}

.header-config {
    max-width: 20%;
    border-radius: 60rem;
    justify-content: space-between;
    height: auto;
    margin-left: 3rem;
}

#logoMarca{
    font-size: 4.4rem;
    color: #F53474;
    font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;

}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    position: absolute;
    right: 0;
}


button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: medium;
    padding: 1rem;
    cursor: pointer;

}

nav button:hover {
    background-color: white;
    Color: #F53474;
    font-weight: bold;
    border-radius: 6rem;
    width: 12rem;
    
}

.button-yamp{
    display: flex;
    font-size: large;
    text-align: center;
    justify-content: first baseline;
    margin-left: 1rem;
}

#titleDescription{
    font-size: 1rem;
    font-weight: 570;
    margin-bottom: 0.5rem;
    line-height: normal;
}

.description-product {
    max-width: 75rem;
    width: 100%;
    border-bottom: 0.1rem solid black;
    padding-bottom: 2rem;
}

#title-product{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.box-product {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-bottom: 2rem;
    padding: 1rem;
}

.secondBlockDescription {
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
    gap: 2rem;
}

.space-line{
    margin-bottom: 0.6rem;
    padding-top: 0.5rem;
}

h1{
    font-size: 1rem;
}

.ultimateDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.alinhamento-description {
    list-style-type: none;
}

.config-faleconosco {
    width: 100px;
    height: auto;
}

/* Botão flutuante de WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-icon {
    width: 100%;
    height: 100%;
    padding: 10px;
}


footer {
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 1em 0;
}

#compra-efetuada-header {
    text-decoration: none;
    color: #333;
}

@media (min-width: 600px) {
    nav {
        justify-content: space-around;
    }

    .box-product {
        flex-direction: row;
    }

    .secondBlockDescription {
        flex-direction: row;
    }
}
