@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&display=swap');

body {
    font-family: "Figtree", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 100%;
    text-align: left;
    border-bottom: 0.17rem solid #F53474;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 2rem;

}

.header-config {
    max-width: 18%;
    border-radius: 60rem;
    justify-content: space-between;
    height: auto;
    margin-left: 3rem;
}

#logoMarca{
    font-size: 4.4rem;
    color: #F53474;
    font-family: "Archivo Black", sans-serif;      
    font-weight: 400;
    font-style: normal;
}

#descriptionInLogo{
    font-size: x-large;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    position: absolute;
    right: 0;
}


button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: medium;
    padding: 1rem;
    cursor: pointer;

}

nav button:hover {
    background-color: white;
    Color: #F53474;
    font-weight: bold;
    border-radius: 6rem;
    width: 12rem;
    
}

.button-yamp{
    font-size: larger;
    text-align: center;
    justify-content: center;
    padding-bottom: 1rem;
}

#under-button{
    font-size: 1rem;
    margin-top: 1rem;
}

.moreInfo{
    padding: 0.2rem;
    height: 2rem;
    width: 8rem;
    background-color: transparent;
    font-size: larger;
}


.moreInfo:hover{
    font-weight: bold;
}

#titleDescription{
    font-size: 1.15rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
    line-height: normal;
}

.topoMarketing{
    font-weight: bold;
    line-height: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: #F53474;
}

.description-product {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 100%;
    border-bottom: 0.1rem solid black;
    padding-bottom: 2rem;
}

#title-product{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.box-product {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 1rem;
    border: 0.05rem solid #F53474;
}

.secondBlockDescription {
    margin: 0 3rem;
    display: block;
    padding: 1rem;
    flex-direction: column;
    line-height: 1.5rem;
}

.displayDescription{
    margin-bottom: 1.5rem;
    display: flex;
    gap: 2rem;
}

#doisPontos{
    font-weight: 400;
}

.space-line{
    max-width: 100%;
    margin-bottom: 0.6rem;
}

#topoSuply{
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 1.5rem;
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 3rem;
    font-weight: bold;
    
}

h2{
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

#buttonReturn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 2rem;
}

.returnImg{
    height: 3rem;
    
}



.ultimateDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.alinhamento-description {
    width: 50%;
    max-width: 100%;
    list-style-type: none;
}

.config-faleconosco {
    width: 100px;
    height: auto;
}

/* Botão flutuante de WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-icon {
    width: 100%;
    height: 100%;
    padding: 10px;
}


footer {
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 1em 0;
}

#compra-efetuada-header {
    text-decoration: none;
    color: #333;
}

@media (min-width: 601px) {
    nav {
        justify-content: space-around;
    }

    .box-product {
        flex-direction: row;
    }

    .secondBlockDescription {
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100%;
        border-bottom: 0.17rem solid #F53474;
        margin-bottom: none;
        padding-bottom: none;
        align-items: center;
    }
    
    .header-config {
        max-width: 70%;
        border-radius: 60rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-bottom: none;
    }
    
    #logoMarca{
        font-size: 2rem;
        color: #F53474;
        font-family: "Archivo Black", sans-serif;      
        font-style: normal;
    }
    
    nav {
        display: block;
        position: relative;
        top: -2.2rem;
        left: 0;
        align-items: center;
    }

    button{
        font-size: 0.85rem;
        gap: none;
        margin-top: 0;
    }
    
    
    nav button:hover {
        background-color: white;
        Color: #F53474;
        font-weight: bold;
        border-radius: 6rem;
        max-width: fit-content;
        
    }
    
    #titleDescription{
        font-size: 1rem;
        font-weight: 570;
        margin-bottom: 0.5rem;
        line-height: normal;
    }
    
    .description-product {
        max-width: 75rem;
        text-align: left;
        width: 100%;
        border-bottom: 0.1rem solid black;
        padding-bottom: 2rem;
        padding-left: none;
    }
    
    #title-product{
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    
    .box-product {
        display: flex;
        flex-direction: column;
        gap: none;
        padding-bottom: 2rem;
        padding: none;
    }
    
    .secondBlockDescription {
        display: block;
        padding: 0;
        flex-direction: column;
        gap: none;
    }
    
    .space-line{
        margin: 0 auto;
        padding: 0 auto;
    }
    
    .button-yamp{
        text-align: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    
    .ultimateDiv {
        display: flex;
        flex-direction: column;
    }
    
    .alinhamento-description {
        list-style-type: none;
        margin: 0 auto;
        padding: 0 auto;
    }

    footer {
        width: 100%;
        background-color: #f8f8f8;
        text-align: center;
        padding: 1em 0;
    }
    
    #compra-efetuada-header {
        text-decoration: none;
        color: #333;
    }
}
