@import url(style.css);

body{
    background-color: green;
}
#buttonHome{
    margin: auto;
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    border-radius: 120rem;
    justify-content: end;
}

#compraEfetuada{
    max-width: 100%;
}

#compra-efetuada-header{
    color: white;
}

.compraRealizada{
    margin: auto;
    display: flex;
    border-radius: 3.5rem;
}