@import url(style.css);
#buttonHome{
    width: 5rem;
    height: 5rem;
    display: flex;
    border-radius: 120rem;
    justify-content: end;
}

#compraEfetuada{
    max-width: 100%;
}

#compra-efetuada-header{
    color: white;
}